.centerbox {
    background-color: #DBCECE;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    border-style: none;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.logininput {
    width: 70%;
    height: 30px;
    background-color: #E9E9C5;
    border-style: none;
    margin: 5px;
    border-radius: 20px;
}

.loginsucbtn {
    background-color: #656E8C;
    margin-top: 60px;
    width: 70%;
    height: 40px;
    border-radius: 20px;
}