@font-face {
    font-family: 'NanumSquareNeo-bRg';
    src: url('../font/NanumSquareNeo-bRg.ttf') format('truetype');
}

.navbar {
    background-color: #1E2434;
    height: 50px;
}

.navbarBtnS {
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: center;
}

.navbarBtn {
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border-style: none;
    margin: 5%;
    margin-top: 3px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight: bold;
    font-family: 'NanumSquareNeo-bRg';
}

.navbarBtn:active, .navbarBtn:hover {
    color: white;
    background-color: #6A5883;
}

.loginBtnBox {
    background-color: #656E8C;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border-style: none;
    margin: 5%;
    margin-top: 3px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.loginBtn {
    text-decoration: none;
    font-size: 15px;
}

.loginBtn:active, .loginBtn:hover {
    color: white;
}

button {
    background-color: #656E8C;
    text-decoration: none;
    border-style: none;
    font-family: 'NanumSquareNeo-bRg';
    font-weight: bold;
}