.btn {
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background-color: #656E8C;
    font-size: 15px;
    color: white;
}
.btnposition{
    margin: 10px;
    text-align: center;
}

.btn:hover {
    color: black;
}